@use 'sass:math';

$fav-color: rgb(249, 24, 128);

@mixin circle {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: -8px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-property: background-color, border-color;
}

@keyframes scrapbox-copy-tweets-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scrapbox-copy-tweets-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scrapbox-copy-tweets-in-progress {
  0% {
    border-color: transparent transparent transparent transparent;
  }
  25% {
    border-color: $fav-color transparent transparent transparent;
  }
  50% {
    border-color: $fav-color $fav-color transparent transparent;
  }
  75% {
    border-color: $fav-color $fav-color $fav-color transparent;
  }
  100% {
    border-color: $fav-color $fav-color $fav-color $fav-color;
  }
}

.scrapbox-copy-tweets {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: center;

  .copy-button {
    flex-shrink: 0;
    font-size: 15px;
    cursor: pointer;

    .button {
      position: relative;
      display: flex;
      align-items: stretch;
      width: 1.5em;
      height: 1.5em;

      .circle-inactive {
        @include circle;
        background-color: transparent;
        border-color: transparent;
      }
      .circle-active {
        @include circle;
        background-color: rgba($fav-color, 0.1);
        border-color: rgba($fav-color, 1);
      }
      .circle-in-progress {
        @include circle;
        background-color: transparent;
        transform: rotate(45deg);
        animation: scrapbox-copy-tweets-in-progress 1s infinite;
      }

      &:hover {
        .circle-inactive {
          background-color: rgba($fav-color, 0.1);
        }
        .circle-active {
          background-color: transparent;
        }
      }
    }
    .tooltip {
      $tooltip-padding: 4px;
      $tooltip-color: rgba(black, 0.5);
      padding: $tooltip-padding;
      color: white;
      text-align: center;
      white-space: nowrap;
      background-color: $tooltip-color;
      border-radius: 5px;

      .arrow {
        fill: $tooltip-color;
        stroke: $tooltip-color;
      }

      .body {
        display: inline-flex;
        flex-direction: row;
        cursor: text;

        .close-button {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          color: white;
          cursor: pointer;

          &:hover {
            color: red;
          }
        }
      }

      &.fade-in {
        animation: scrapbox-copy-tweets-fade-in 0.2s;
      }
      &.fade-out {
        animation: scrapbox-copy-tweets-fade-out 0.2s;
      }
    }
  }
}
