@use 'sass:math';

$fav-color: rgb(249, 24, 128);

@mixin circle {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: -8px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-property: background-color, border-color;
}

@keyframes scrapbox-copy-tweets-in-progress {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

.scrapbox-copy-tweets {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: center;

  .scrapbox-button {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    width: 2em;
    font-size: 15px;
    cursor: pointer;

    .button {
      position: relative;
      display: flex;
      align-items: stretch;
      width: 1.5em;
      height: 1.5em;

      .circle-inactive {
        @include circle;
        background-color: transparent;
        border-color: transparent;
      }
      .circle-active {
        @include circle;
        background-color: rgba($fav-color, 0.1);
        border-color: rgba($fav-color, 1);
      }
      .circle-in-progress {
        @include circle;
        background-color: rgba($fav-color, 0.1);
        border-color: transparent;
        opacity: 0;
        animation: scrapbox-copy-tweets-in-progress 1s infinite;
      }

      &:hover {
        .circle-inactive {
          background-color: rgba($fav-color, 0.1);
        }
        .circle-active {
          background-color: transparent;
        }
      }
    }
    .tooltip {
      $tooltip-padding: 4px;
      $tooltip-color: rgba(black, 0.5);
      padding: $tooltip-padding;
      color: white;
      text-align: center;
      white-space: nowrap;
      background-color: $tooltip-color;
      border-radius: 5px;

      .arrow {
        fill: $tooltip-color;
        stroke: $tooltip-color;
      }

      .body {
        display: inline-flex;
        flex-direction: row;
        cursor: text;

        .close-button {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          color: white;
          cursor: pointer;

          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
