$fav-color: rgb(249, 24, 128)

@mixin circle
  // layout
  position: absolute
  top: 0px
  right: 0px
  bottom: 0px
  left: 0px
  // circle
  border-radius: 50%
  margin: -8px
  // transition
  transition-property: background-color, border-color
  transition-duration: 0.2s
  // border
  border-width: 2px
  border-style: solid

.scrapbox-copy-tweets
  display: flex
  flex-basis: auto
  flex-direction: column
  justify-content: center

  .copy-button
    // flex
    flex-shrink: 0
    // cursor
    cursor: pointer
    // size
    font-size: 15px

    .button
      // flex
      display: flex
      align-items: stretch
      // position
      position: relative
      // size
      width: 1.5em
      height: 1.5em

      .circle-inactive
        @include circle
        background-color: transparent
        border-color: transparent

      .circle-active
        @include circle
        background-color: rgba($fav-color, 0.1)
        border-color: rgba($fav-color, 1.0)

      &:hover
        .circle-inactive
          background-color: rgba($fav-color, 0.1)

        .circle-active
          background-color: transparent
