$fav-color: rgb(249, 24, 128)

.scrapbox-copy-tweets
  display: flex
  flex-basis: auto
  flex-direction: column
  justify-content: center

  .copy-button
    // flex
    flex-shrink: 0
    // cursor
    cursor: pointer
    // size
    font-size: 15px
    // border
    border-radius: 50%
    border-width: 3px
    border-style: solid
    border-color: transparent
    // transition
    transition-property: border-color

    &:hover
      border-color: rgba($fav-color, 0.1)
      g#Scrapbox
        circle#circle
          fill: rgba($fav-color, 0.1)

    .icon
      // size
      width: 2em
      height: 2em
