@use 'sass:meta';
@use 'bootstrap/scss/bootstrap';

.scrapbox-quote-tweets {
  display: flex;
  flex-direction: column;
  max-width: 744px;
  height: 100vh;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;

  .header {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
    white-space: nowrap;

    .title {
      overflow: hidden;
      text-overflow: clip;
      font-size: 2.5rem;
      font-weight: 500;
    }
  }

  @include meta.load-css('~/app/index');
}
