name: Build Artifacts

on:
  push:
    branches:
     - master

jobs:
  build_artifacts:
    runs-on: ubuntu-latest

    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v4

      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      # npm ci
      - name: npm ci
        run: npm ci

      # Production Build
      - name: Production Build
        run: npm run build:production

      # Artifacts
      - name: Build Artifacts
        run: npm run artifact

      # Upload Artifacts
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: web-ext-artifacts/*.zip
